@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@500&family=Source+Code+Pro:wght@200&display=swap");

:root {
  --bg-black: #071566e1;
  --bg-blue: #2d60ebb6;
  --main-hot: #081353;
  --bg--main-white: #fcfcfcfa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-size: 20px;
  
  background-color: var(--bg-main-white);
}

.wrapper {
  /*   display: flex;
      flex-direction: column; */
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
}

.container {
}

.private-form,
.private-list {
  padding: 2rem;
  margin-bottom: 2rem;
  height: 800px;

  border-radius: 0.6rem;
  border: 1px solid var(--main-light-color);
}

.private-list {
  background-color: var(--second-dark);
}

.users-card,
.blog-post {
  display: flex;
}

.form-title {
  font-size: 30px;
  padding: 2%;
  color: var(--cta-color);
}

.form-inputs {
}

.form-group-wrapper {
  display: flex;
  flex-direction: row;
}

.form-group {
  min-width: 200px;
  display: flex;
  flex-direction: column;

  color: var(--main-light-color);
}

.form-group > input {
  margin: 0.3rem 0 1.2rem 0;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: transparent;
  /* box-shadow: var(--main-dark-color) 3px 3px 5px 0px inset,
    #dddfdb -2px -2px 6px 1px inset; */
  background-color: var(--input-light);
  display: inline;
}
.form-group > input:focus {
  background-color: var(--input-focus);
}
.form-group > input:focus::placeholder {
  color: transparent;
}

.btn {
  font-size: 1.2rem;
  padding: 0.6rem;
  border: transparent;
  border-radius: 100vmax;
  background-color: rgb(172, 33, 109);
}
.form-card {
  border-radius: 20px;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .private-form {
    margin-bottom: 20px;
    padding: 20px 0;
  }

  .private-list,
  .private-form {
    max-width: 90%;
  }
}

/* Banner */
.banner {
  color: rgba(255, 255, 255, 0.911);
  background-color: var(--bg-black);
  background-blend-mode: hard-light;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-bottom: 12rem;
  background-image: url("./img/satelite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  line-height: 4rem;
  font-family: "Source Code Pro", monospace;

  max-width: 50%;
}

/* Buttons*/
.btn-container {
  margin-top: 5rem;
}

.cta {
  font-size: 1.8rem;
  padding: 0.8rem;

  border: 5px solid var(--main-hot);
  outline: none;
  border-radius: 100vmax;
  background-color: var(--main-hot);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  margin-right: 2rem;
}
.cta:hover {
  background: transparent;
  color: var(--main-hot);
  border: 5px solid var(--main-hot);
  font-weight: 900;
}

.cta-inverse {
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 5px solid var(--bg-blue);
  outline: none;
  border-radius: 100vmax;
  background-color: var(--bg-blue);
  color: white;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.cta-inverse:hover {
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.897);
  font-weight: 900;
  color: rgba(255, 255, 255, 0.89);
}

.red {
  color: var(--main-hot);
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

/* Presetation cards */
.presentation-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 2rem;
  background-color: var(--bg-main-white);
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 0;
  
}
.presentation-cards-wrapper>h3, .presentation-cards-wrapper>p{
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.966);
} 

.presentation-wrapper-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 2em 0;
  background-color: var(--main-hot);
  padding-bottom:25rem;
  padding-top:25rem;
}
.presentation-card {
  border-radius: 0.2rem;
  background: var(--bg-main-white);
  box-shadow: 10px 10px 15px #ececec, -10px -10px 15px #f5f4f4;
  padding: 2rem;
}


.container{
  display: flex;
  flex-direction: column;
}

/* Generale * /