@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@500&family=Source+Code+Pro:wght@200&display=swap");

:root {
  --bg-black: #071566e1;
  --bg-blue: #2d60ebb6;
  --main-hot: #b6e170e8;
  --bg--main-white: #fcfcfcfa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-size: 20px;
  position: relative;
  background-color: var(--bg-main-white);
}

.wrapper {
  /*   display: flex;
      flex-direction: column; */
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
}

.private-form,
.private-list {
  padding: 2rem;
  margin-bottom: 2rem;
  height: 800px;

  border-radius: 0.6rem;
  border: 1px solid var(--main-light-color);
}

.private-list {
  background-color: var(--second-dark);
}

.users-card,
.blog-post {
  display: flex;
}

.form-title {
  font-size: 30px;
  padding: 2%;
  color: var(--cta-color);
}

.form-inputs {
}

.form-group-wrapper {
  display: flex;
  flex-direction: row;
}

.form-group {
  min-width: 200px;
  display: flex;
  flex-direction: column;

  color: var(--main-light-color);
}

.form-group > input {
  margin: 0.3rem 0 1.2rem 0;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: transparent;
  /* box-shadow: var(--main-dark-color) 3px 3px 5px 0px inset,
    #dddfdb -2px -2px 6px 1px inset; */
  background-color: var(--input-light);
  display: inline;
}
.form-group > input:focus {
  background-color: var(--input-focus);
}
.form-group > input:focus::placeholder {
  color: transparent;
}

.btn {
  font-size: 1.2rem;
  padding: 0.6rem;
  border: transparent;
  border-radius: 100vmax;
  background-color: rgb(172, 33, 109);
}
.form-card {
  border-radius: 20px;
  border: 2px solid black;
}

/* Banner */
.banner {
  color: rgba(255, 255, 255, 0.911);
  background-color: var(--bg-black);
  background-blend-mode: hard-light;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-bottom: 12rem;
  background-image: url("./img/satelite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner-title {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  line-height: 4rem;
  font-family: "Source Code Pro", monospace;

  max-width: 50%;
}

.cta {
  border: 5px solid var(--main-hot);
  background-color: var(--main-hot);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  margin-right: 2rem;
}
.cta:hover {
  background: transparent;
  color: var(--main-hot);
  border: 5px solid var(--main-hot);
  font-weight: 900;
}

.cta-inverse {
  border: 5px solid var(--bg-blue);
  outline: none;
  border-radius: 100vmax;
  background-color: var(--bg-blue);
  color: white;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.cta-inverse:hover {
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.897);
  font-weight: 900;
  color: rgba(255, 255, 255, 0.89);
}

/*  INTRODUCTORY PRESENTATION SECTION ABOUT SERVICES */
.presentation-card {
  border-radius: 0.2rem;
  background: var(--bg-main-white);
  box-shadow: 10px 10px 15px #ececec, -10px -10px 15px #f5f4f4;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation-card-title {
  font-size: 1.5rem;
}
.presentation-card-content {
  margin: 2rem 0;
}

.about-us {
  background-image: url("./img/earth-2.jpg");
  /* border-top: 1.5rem solid var(--main-hot);
  border-bottom: 1.5rem solid var(--main-hot); */
  justify-content: space-around;
  align-items: center;
  height: 1500px;
}

.about-us > h3,
.about-us > p {
  width: 50%;
}

/*  FOOTER  */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: black;
}

/*  BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 0.8rem;
  outline: none;
  border-radius: 100vmax;
}

.btn-container {
  margin-top: 5rem;
}

/*  CONTAINERS  */
.container-col {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-intro {
  justify-content: space-around;
  padding: 6rem 5rem 3rem 5rem;
}

.container-cards {
  justify-content: space-around;
  padding: 3rem 5rem;
  grid-gap: 0.8rem;
}

.last {
  margin-bottom: 5em;
}
/* FONT AWESOME ICONS */
.fa-solid {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--main-hot);
}

.email-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  font-size: 1.8rem;
  justify-content: center;
  margin-right: 0.5rem;
  content: "\f0e0";
}
.people-icon::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 100;
  font-size: 1.8rem;
  justify-content: center;
  margin-right: 0.5rem;
  content: "\f4fb";
}

/*  MEDIA QUERIES */
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .private-form {
    margin-bottom: 20px;
    padding: 20px 0;
  }

  .private-list,
  .private-form {
    max-width: 90%;
  }

  .banner {
    padding-top: 2rem;

    padding-bottom: 6rem;
  }

  .banner-title {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.12rem;
    line-height: 3rem;
    font-family: "Source Code Pro", monospace;
  }

  .presentation-cards-wrapper,
  .presentation-wrapper-header {
    grid-template-columns: 1fr;
    margin: 1rem;
    padding: 0;
  }
}
